# EditorConfig это конфигурационный файл к большому количеству редакторов кода и IDE.
# Его задача — создать единый формат настроек.

# Корневой файл EditorConfig
# Если установлена в true, парсер не будет искать другие конфиги в родительских папках
root = true

# Для всех файлов используем правила
[*]
charset = utf-8

# Перенос строки LF — Line Separator: Unix and OS X (\n)
end_of_line = lf

# Отступы в 4 пробела
indent_size = 4
indent_style = space

# Позволяет убедиться, что в конце файла всегда будет новая строка.
insert_final_newline = true

# Максимальная ширина строки
max_line_length = 120

# Ширина отступа
tab_width = 4

# Позволяет убрать пробелы из концов строк
trim_trailing_whitespace = true
